@import '../../style/variable.less';

.book-shelf-page {
    display: flex;
    flex-flow: column;
    justify-content: center; /*水平*/
    .loading-wrap {
        padding-top: 140px;
    }
    .book-basic {
        width: 100%;
        height: 180px;
        box-sizing: border-box;
        padding: 30px 15px;
        overflow: hidden;
        margin-bottom: 15px;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 0 5px #ccc;
        .mask-bg-img {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 2;
            opacity: 0.2;
        }

        .book-main-wrap {
            z-index: 10;
            display: flex;
        }
        .avatar {
            width: 90px;
            height: 120px;
            box-shadow: 0 0 5px #aaa;
        }

        .detail {
            padding-left: 15px;
            color: #999;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .detail-top {
                padding-right: 15px;
                .detail-title {
                	font-size: 16px;
                	font-weight: bold;
                	color: #666;
                	margin-bottom: 10px;
                }
                .detail-writer {
                	font-size: 14px;
                	margin-bottom: 5px;
                }
            }

            .detail-btn-wrap {
                text-align: right;
            }
            .btn-keep-read {
                display: inline-block;
                font-size: 14px;
                background: @theme-color;
                color: #fff;
                padding: 5px 15px;
                position: relative;
                z-index: 12;

                &:active {
                    background: darken(@theme-color, 5%);
                }
            }
        }
    }

    .list-wrap {
        width: 100%;
        max-width: 100%;
        margin-top: 180px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /*超出宽度强制换行*/
        padding: 15px;
        box-sizing: border-box;
        z-index: 1;

        .list-item {
            width: 30%;
            margin-bottom: 15px;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            text-align: center;

            &:active {
                background: #f8f8f8;
            }

            .book-wrap {
                width: 90px;
                display: inline-block;
                .cover {
                    width: 90px;
                    height: 120px;
                }
                .basic-info {
                    padding: 5px;
                    padding-top: 0;
                    .title {
                        font-size: 12px;
                        color: #666;
                        padding-bottom: 5upx;
                        text-align: left;
                    }

                    .writer {
                        font-size: 10px;
                        color: #999;
                        text-align: left;
                    }
                }
                
                .select-mask {
                    // TODO iconfont 居中，根据高度来做吧
                    background: rgba(255,255,255, 0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: center;
                    padding-top: 60px;
                    
                    .iconfont {
                        font-size: 20px;
                        display: inline-block;
                        color: #666;
                        &.book-selected {
                            color: green;
                        }
                    }
                }
            }
        }

        .list-item-plus {
            width: 90px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            font-size: 40px;
            color: #999;
            box-shadow: 0 0 5px #aaa;
            
            &:active {
                background: #f8f8f8;
            }
        }

        .list-item-placeholder {
            width: 30%;
            max-width: 120px;
            margin-bottom: 15px;
        }
    }
}
